* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: darkgray;
}




.form-image img {
    width: 35rem;
   
}

.form {
    margin-top: auto;
    width: 500px;
    margin: auto;
    margin-top: 20px;
    
    
    flex-direction: column;
    background-color:#fff;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    
}

.form-header {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
}

.button{
    display: flex;
    align-items: center;
    padding: 10px;
    color: #fff; 
    border: none;
    border-radius: 5px;
    

}

.button button{
    border: none;
    background-color: cyan;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    width: 96%;
    margin-left: 12px;
}

.button button:hover {
    background-color: black;
}

.button button a {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    
}
 
.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: cyan;
    margin:auto;
    position: absolute;
    border-radius: 10px;
}


.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    width: 95%;
    margin-left: 10px;

}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px black;
     
} 
.input-box input:hover {
    background-color: darkgray;

}

.input-box input:focus-visible {
    outline: 1px solid darkgray;
}

.input-box label,


h1{
    margin: 10px;
    color: black;
}




